<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/js/uikit-icons.min.js"></script>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="uk-height-large" uk-height-viewport="expand: true">
            <nav class="uk-navbar-container">
                <div class="uk-container">
                    <div uk-navbar>
                        <div class="uk-navbar-center">
                            <div class="uk-navbar-center-left">
                                <ul class="uk-navbar-nav">
                                    <li class="uk-active"><a href="{{path('app_quizzes_create')}}">New Quizz</a></li>
                                    <li class="uk-active"><a href="{{path('app_quizzes')}}">My Quizzes</a></li>
                                </ul>
                            </div>
                            <a class="uk-navbar-item uk-logo" href="#">Logo</a>
                            <div class="uk-navbar-center-right">
                                <ul class="uk-navbar-nav">
                                    <li class="uk-active"><a href="{{path('app_sub_categories')}}">My categories</a></li>
                                    <li class="uk-active"><a href="{{path('app_leaderboards')}}">Leaderboard</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div uk-grid>
                <div class="uk-width-1-4@m uk-width-1-6@l uk-visible@s">
                    <div class="sidebar uk-card-default uk-card-body">
                        <ul class="uk-nav-default" uk-nav>
                            <li class="uk-nav-header">les formations</li>
                            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span>Notre séléction pour vous</a></li>
                            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span>Notre tendances du moment</a></li>
                            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span>Les nouveautés</a></li>
                            <li><a href="{{path('app_quizzes')}}"><span class="uk-margin-small-right" uk-icon="icon: table"></span>Toutes les formations</a></li>
                            <li class="uk-nav-divider"></li>
                            <li class="uk-nav-header">Mon parcours</li>
                            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span>Mes objectifs</a></li>
                            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span>Mon bilan</a></li>
                            <li><a href=""><span class="uk-margin-small-right" uk-icon="icon: trash"></span>Mes certifications</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="{{path('app_profile')}}"><img class="uk-margin-small-right uk-border-circle" src="{{ asset('images/photo2.jpg') }}" width="30" height="30" alt="Border pill">Mon compte</a></li>
                        </ul>
                    </div>
                </div>
                <nav class="uk-navbar-container uk-hidden@s">
                    <div class="uk-container">
                        <div uk-navbar>
                            <div class="uk-navbar-left">
                                <a class="uk-navbar-toggle uk-navbar-toggle-animate" uk-navbar-toggle-icon href="#"></a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav-default" uk-nav>
                                        <li class="uk-nav-header">les certifications</li>
                                        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span>Notre séléction pour vous</a></li>
                                        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span>Notre tendances du moment</a></li>
                                        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span>Les nouveautés</a></li>
                                        <li><a href="{{path('app_quizzes')}}"><span class="uk-margin-small-right" uk-icon="icon: table"></span>Toutes les formations</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li class="uk-nav-header">Mon parcours</li>
                                        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span>Mes objectifs</a></li>
                                        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span>Mon bilan</a></li>
                                        <li><a href=""><span class="uk-margin-small-right" uk-icon="icon: trash"></span>Mon contenu</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="{{path('app_profile')}}"><img class="uk-margin-small-right uk-border-circle" src="{{ asset('images/photo2.jpg') }}" width="30" height="30" alt="Border pill">Mon compte</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="uk-width-3-4@m uk-width-5-6@l uk-width-1-1@s">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
